<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %> 
    <section class="auth-form">
      <h1>Create a new account</h1>
      <form action="/auth/register" method="POST">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" name="username" id="username" required />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" name="password" id="password" required />
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password:</label>
          <input type="password" name="confirmPassword" id="confirmPassword" required />
        </div>
        <button type="submit" class="cta-button">Sign up</button>
      </form>
    </section>
  </body>
</html>
