<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="/styles/main.css" />
</head>
<body>
    <%- include('../partials/_navbar.ejs') %> 
    <section class="auth-form">
      <h1>Sign in to your account</h1>
      <form action="/auth/sign-in" method="POST">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" name="username" id="username" required />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" name="password" id="password" required />
        </div>
        <button type="submit" class="cta-button">Sign In</button>
      </form>
    </section>
</body>
</html>
