<nav class="main-nav">
    <div class="nav-container">
      <a href="/" class="nav-logo">Clownodex</a>
      <div class="nav-links">
        <% if(user) { %>
          <a href="/users/<%= user._id %>/contacts" class="nav-item cta-button">Your Contacts</a>
          <a href="/auth/sign-out" class="nav-item cta-button">Sign Out</a>
        <% } else { %>
          <a href="/auth/register" class="nav-item cta-button">Register</a>
          <a href="/auth/sign-in" class="nav-item cta-button">Sign In</a>
        <% } %>
      </div>
    </div>
  </nav>
  