
<nav>
    <% if(user) { %>
      <a href="/users/<%= user._id %>/contacts">Your Contacts</a>
      <a href="/auth/sign-out">Sign Out</a>
    <% } else { %>
      <a href="/auth/register" class="cta-button">Register</a>
      <a href="/auth/sign-in" class="cta-button">Sign In</a>
    <% } %>
  </nav>