<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clownodex</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <header>
      <link rel="icon" type="image/x-icon" href="/images/clownodexfavicon.png">
      <%- include('./partials/_navbar.ejs') %>
    </header>

    <div class="img-container">
      <img
        src="/images/clownodexfinal.jpg"
        alt="a contact card organizing device, also known as a 'rolodex'"
        class="img-clowns"
      />
    </div>

    <div class="flex-container">
      <section id="stay-in-touch">
        <h2>Stay in touch with the clowns from your life!</h2>
        <ul>
          <li>
            An organized database helping you stay in touch with those who
            matter.
          </li>
          <li>
            Don't let people fade out of your life! Key features to help you
            stay in contact regularly.
          </li>
          <li>
            Add customizable notes and never forget what's going in their lives!
          </li>
        </ul>
      </section>

      <section id="simple-to-use">
        <h2>Simple to Use</h2>
        <ol>
          <li>Create an account to get started.</li>
          <li>Add and manage contacts effortlessly.</li>
          <li>Easy search and filter options.</li>
        </ol>
      </section>
    </div>

    <footer>
      <p>&copy; 2024 Clownodex</p>
    </footer>
  </body>
</html>
