<!-- views/contacts/new.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add a New Contact</title>
</head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add a New Contact</h1>
    <form action="/users/<%= user._id %>/contacts" method="POST">
        <label for="name">First Name:</label>
        <input type="text" id="name" name="name" required>
  </body>
</html>
