<!-- views/contacts/new.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add a New Contact</title>
</head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add a New Contact</h1>
    <form action="/users/<%= user._id %>/contacts" method="POST">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" required>
        <label for="dateOfLastContact">Date of Last Contact:</label>
        <input type="date" id="dateOfLastContact" name="dateOfLastContact" required>
        <label for="association">Association:</label>
        <select id="association" name="association" required>
            <option value="UK">UK</option>
            <option value="Family">Family</option>
            <option value="Army">Army</option>
            <option value="Arizona State">Arizona State</option>
            <option value="Boston">Boston</option>
        </select>
        <button type="submit">Add Application</button>
    </form>
    </body>
</html>